[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 19706
externalPort = 3000

[[ports]]
localPort = 19707
externalPort = 3001

[[ports]]
localPort = 19708
externalPort = 4200
